{{template "htmlopen" .}}
<main class="form-signin w-100 m-auto text-center">
    <h2 id="username">Welcome
        {{if .AuthUser.FirstName}}{{.AuthUser.FirstName}} {{.AuthUser.LastName}}
        {{else}}{{.AuthUser.Email}}
        {{end}}
    </h2>
    <div class="container mt-4">
        <div class="row">
            <div class="card mt-2">
                <div class="card-body">
                    <h5 class="card-title">Profile</h5>
                    <p class="card-text">View and update your profile information.</p>
                    <a href="/profile" class="btn btn-primary">Go to Profile</a>
                </div>
            </div>
        </div>
    </div>
    <a href="/logout" class="w-100 btn btn-lg btn-primary mt-2" id="btn-logout">Logout</a>
</main>
{{template "jsscript"}}
{{template "htmlclose"}}
