{{template "main" .}}

{{define "content"}}
<main class="w-100 m-auto text-center container">
    <img class="mb-4" src="https://upload.wikimedia.org/wikipedia/commons/0/05/Go_Logo_Blue.svg" alt="Gopher"
        width="200">
    <h1 class="display-5">Authenticating Please wait...</h1>
    <div class="alert alert-danger d-none" role="alert" id="div-error"></div>
</main>
{{end}}

{{define "script"}}
<script>
    const urlParams = window.location.search.replace(/^\?/, '')
    $.ajax({
        url: "/api/google-user/login",
        method: "GET",
        data: urlParams,
    }).done(function (res) {
        localStorage.setItem("session_token", res.token);
        window.location.replace(res.redirect_to);
    }).fail(function (jqXHR, exception) {
        $('.display-5').addClass('text-danger').text(jqXHR.responseJSON.message).removeClass('d-none');
    }).always(function () {
        $('input,button').prop('disabled', false);
    });
</script>
{{end}}