{{template "main" .}}

{{define "content"}}
<main class="w-100 m-auto">
    <form class="container" id="update-user">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Profile</h5>
            </div>
            <div class="card-body">
                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <p class="form-control-static"><b id="email"></b></p>
                </div>
                <div class="mb-3">
                    <label for="first_name" class="form-label">First Name</label>
                    <input type="text" class="form-control" id="first_name">
                </div>
                <div class="mb-3">
                    <label for="last_name" class="form-label">Last Name</label>
                    <input type="text" class="form-control" id="last_name">
                </div>
                <div class="alert alert-danger d-none" role="alert" id="div-error"></div>
                <div class="alert alert-success d-none" role="alert" id="div-success"></div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary float-end">Update</button>
                <a href="/" class="btn btn-primary float-start">Back</a>
            </div>
        </div>
    </form>
</main>
{{end}}

{{define "script"}}
<script>
    if (localStorage.getItem('session_token') == null) {
        window.location.replace("/login");
    }

    $.ajax({
        url: "/api/profile",
        method: "GET",
        dataType: "json",
        beforeSend: function (xhr) {
            xhr.setRequestHeader("Authorization", "Bearer " + localStorage.getItem('session_token'));
        },
    }).done(function (res) {
        $('#email').text(res.email)
        $('#first_name').val(res.first_name);
        $('#last_name').val(res.last_name);

    }).fail(function (jqXHR, exception) {
        if (jqXHR.status == 401) {
            localStorage.clear()
            window.location.replace("/login");
        }
    })

    $('#update-user').submit(function (e) {
        e.preventDefault();

        var first_name = $("#first_name").val();
        var last_name = $("#last_name").val();

        $('input,button').prop('disabled', true);
        $('#div-error').text("").addClass('d-none');
        $('#div-success').text("").addClass('d-none');

        $.ajax({
            url: "/api/profile",
            method: "PATCH",
            dataType: 'json',
            contentType: 'application/json',
            data: JSON.stringify({
                first_name,
                last_name
            }),
            beforeSend: function (xhr) {
                xhr.setRequestHeader("Authorization", "Bearer " + localStorage.getItem('session_token'));
            },
        }).done(function (res) {
            $('#div-success').text(res.message).removeClass('d-none');
        }).fail(function (jqXHR, exception) {
            if (jqXHR.status == 401) {
                localStorage.clear()
                window.location.replace("/login");
            }
            $('#div-error').text(jqXHR.responseJSON.message).removeClass('d-none');
        }).always(function () {
            $('input,button').prop('disabled', false);
        });
    });
</script>
{{end}}