{{template "htmlopen" .}}
<main class="w-100 m-auto">
    <form class="container" method="post" id="register-user">
        {{ .CsrfField }}
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Register New User</h5>
            </div>
            <div class="card-body">
                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="email" autocomplete="email" name="email">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" autocomplete="new-password"
                        name="password">
                </div>
                <div class="mb-3">
                    <label for="re-password" class="form-label">Confirm-Password</label>
                    <input type="password" class="form-control" id="repassword" autocomplete="new-password"
                        name="repassword">
                </div>
                {{ range $key, $value := .Flash.error }}
                <div class="alert alert-danger" role="alert">{{ $value }}</div>
                {{ end }}
                <div class="alert alert-success d-none" role="alert" id="div-success"></div>
            </div>
            <div class="card-footer d-flex justify-content-between">
                <a class="btn btn-outline-primary" href="{{ .Data.google_register_url }}" role="button"
                    style="text-transform:none">
                    <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in"
                        src="https://upload.wikimedia.org/wikipedia/commons/c/c1/Google_%22G%22_logo.svg" />
                    Register using Google
                </a>
                <button type="submit" class="btn btn-primary float-end">Register</button>
            </div>
        </div>
    </form>
</main>
{{template "jsscript"}}
{{template "htmlclose"}}
