server:
  port: :8080 # to override use SERVER_PORT=3000 environment variable
  url: http://localhost:8080

db:
  driver: mysql
  url: username:password@tcp(127.0.0.1:3306)/sample_web_app

# possible log levels are debug, info, warn, error, panic
logfile:
  access-log: logs/access.log
  error-log: logs/error.log

# Encryption Key
# ==============
# key must be 16, 24 or 32 bytes long (AES-128, AES-192 or AES-256)
cipherkey: 6fPIptW0chqDn25MLRoL/FZ4EjSrzN75kA== # Please change this key to a random string of 16, 24 or 32 bytes long

# Session Lifetime
# ================
# Here you may specify the number of minutes that you wish the session
# to be allowed to remain idle before it expires.
session-lifetime: 30 #minutes

path:
  public: public
  theme: templates/*/*.html

mail:
  driver: smtp
  host: smtp.gmail.com
  port: 587
  username:
  password:
  from:
  encryption: 2 # [none = 0, ssl = 1, tls = 2, ssltls = 3, starttls = 4]

google-key:
  client-id: #GCD_CLIENT_ID
  client-secret: #GCP_CLIENT_SECRET
  callback-url: /google-user/login
