{{template "login" . }}

{{define "content"}}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card-group d-block d-md-flex row">
                <div class="card col-md-7 p-4 mb-0">
                    <form class="card-body" method="post">
                        <h1>Login</h1>
                        <p class="text-medium-emphasis">Sign In to your account</p>
                        <div class="form-floating mb-3">
                            <input class="form-control" type="text" placeholder="Username" name="username" required>
                            <label for="username">Username<span class="text-danger">*</span></label>
                        </div>
                        <div class="form-floating mb-3">
                            <input class="form-control" type="password" placeholder="Password" name="password" required>
                            <label for="username">Password<span class="text-danger">*</span></label>
                        </div>
                        {{ range $key, $value := .Data.error }}
                        <div class="alert alert-danger" role="alert">{{ $value }}</div>
                        {{ end }}
                        <div class="row">
                            <div class="col-6">
                                <button class="btn btn-primary px-4">Login</button>
                            </div>
                            <div class="col-6 text-end">
                                <button class="btn btn-link px-0" type="button">Forgot password?</button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- <div class="card col-md-5 text-white signup-background py-5">
                    <div class="card-body text-center">
                        <div>
                            <h2>Sign up</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut
                                labore et dolore magna aliqua.</p>
                            <button class="btn btn-lg btn-outline-light mt-3" type="button">Register Now!</button>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>
{{end}}